<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DynamicData" version="8.4.1" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" />
  <package id="Microsoft.Bcl.TimeProvider" version="8.0.0" />
  <package id="Microsoft.Extensions.Configuration" version="8.0.0" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="8.0.0" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="8.0.0" />
  <package id="Microsoft.Extensions.Configuration.CommandLine" version="8.0.0" />
  <package id="Microsoft.Extensions.Configuration.EnvironmentVariables" version="8.0.0" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="8.0.0" />
  <package id="Microsoft.Extensions.Configuration.Json" version="8.0.0" />
  <package id="Microsoft.Extensions.Configuration.UserSecrets" version="8.0.0" />
  <package id="Microsoft.Extensions.DependencyInjection" version="8.0.0" manuallyInstalled="true" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="8.0.0" />
  <package id="Microsoft.Extensions.DependencyModel" version="3.1.25" />
  <package id="Microsoft.Extensions.Diagnostics" version="8.0.0" />
  <package id="Microsoft.Extensions.Diagnostics.Abstractions" version="8.0.0" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="8.0.0" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="8.0.0" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="8.0.0" />
  <package id="Microsoft.Extensions.Hosting" version="8.0.0" manuallyInstalled="true" />
  <package id="Microsoft.Extensions.Hosting.Abstractions" version="8.0.0" />
  <package id="Microsoft.Extensions.Logging" version="8.0.0" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="8.0.0" />
  <package id="Microsoft.Extensions.Logging.Configuration" version="8.0.0" />
  <package id="Microsoft.Extensions.Logging.Console" version="8.0.0" />
  <package id="Microsoft.Extensions.Logging.Debug" version="8.0.0" />
  <package id="Microsoft.Extensions.Logging.EventLog" version="8.0.0" />
  <package id="Microsoft.Extensions.Logging.EventSource" version="8.0.0" />
  <package id="Microsoft.Extensions.Options" version="8.0.0" />
  <package id="Microsoft.Extensions.Options.ConfigurationExtensions" version="8.0.0" />
  <package id="Microsoft.Extensions.Primitives" version="8.0.0" />
  <package id="R3" version="1.1.13" manuallyInstalled="true" />
  <package id="ReactiveProperty" version="9.5.0" manuallyInstalled="true" />
  <package id="ReactiveProperty.Core" version="9.5.0" />
  <package id="ReactiveUI" version="20.1.1" manuallyInstalled="true" />
  <package id="Scrutor" version="4.2.2" manuallyInstalled="true" />
  <package id="Splat" version="15.1.1" />
  <package id="System.Collections.Immutable" version="8.0.0" manuallyInstalled="true" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" />
  <package id="System.Diagnostics.DiagnosticSource" version="8.0.0" />
  <package id="System.Diagnostics.EventLog" version="8.0.0" />
  <package id="System.Reactive" version="6.0.1" manuallyInstalled="true" />
  <package id="System.Reactive.Core" version="6.0.1" manuallyInstalled="true" />
  <package id="System.Reactive.Interfaces" version="6.0.1" manuallyInstalled="true" />
  <package id="System.Reactive.Linq" version="6.0.1" manuallyInstalled="true" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" />
  <package id="System.Security.Principal.Windows" version="5.0.0" />
  <package id="System.Text.Encodings.Web" version="8.0.0" />
  <package id="System.Text.Json" version="8.0.3" />
  <package id="System.Threading.Channels" version="8.0.0" />
</packages>